* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

body {
    font-family: Arial;
    line-height: 1.6;
    background-color: #f4f6f8;
    color: #222;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 30px;
    text-align: center;
}

header h1 {
    font-size: 1.1rem;
    color: #cbd5e1;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #38bdf8;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    background-color: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,  0, 0, 0.08);
}

#columna-izquierda {
    position: absolute;
    left: 20px;
}